* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  font-family: "ubuntu", sans-serif;
  display: grid;
  place-content: center;
  min-height: 100vh;
}
.container {
  display: flex;
  height: 30rem;
  width: 55rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
}
.left-section {
  background: red;
  background: #f4f9ff;
  width: 38%;
}
.right-section {
  width: 62%;
  /* height: 100%; */
}
.app-title {
  width: 300px;
  height: 50px;
  border-radius: 10px 10px 0 0;
}
.app-title p {
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  font-size: 1.6em;
  color: #293251;
}
.weather-icon img {
  height: 8rem;
  /* width: 200px; */
}
.notification {
  background-color: #f8d7da;
  display: none;
}
.notification p {
  color: #721c24;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}
.weather-container {
  width: 300px;
  height: 260px;
  background: #f4f9ff;
}

.weather-icon {
  width: 300px;
  height: 128px;
}
.weather-icon img {
  display: block;
  margin: 0 auto;
}
.temperature-value {
  width: 300px;
  height: 60px;
}

.temperature-value p {
  padding: 0;
  margin: 0;
  color: #293251;
  font-size: 4em;
  text-align: center;
}
.temperature-value span {
  color: #293251;
  font-size: 0.5em;
}
.temperature-description {
  padding: 8px;
  margin: 0;
  color: #293251;
  text-align: center;
  font-size: 1.2em;
}
.location {
  margin: 0;
  padding: 0;
  color: #293251;
  text-align: center;
  font-size: 0.7em;
}
form {
  display: flex;
  justify-content: end;
  /* height: 3rem; */
  height: 10%;
}
input {
  /* height: 2.5em; */
  width: 25rem;
  outline: none;
  font-size: 1.6rem;
  border-radius: 0.4rem 0 0 0.4rem;
  padding: 0 1rem;
}
input:focus {
  outline: 0.05rem solid rgb(19, 95, 227);
}
label {
  display: grid;
  place-content: center;
  width: 3rem;
  height: 100%;
  background: rgba(0, 136, 255, 0.257);
  color: #fff;
  border: solid 0.1rem rgba(0, 136, 255, 0.257);
  border-radius: 0 0.4rem 0.4rem 0;
}
.city {
  height: 90%;
  display: grid;
  place-content: center;
}
.city div {
  display: flex;
  height: 5rem;
}
.city div img {
}
.city div span {
  display: grid;
  place-content: center;
  font-size: 3rem;
  padding: 2rem;
}
